@import "tailwindcss";

:root {
  --background: #bac0a4;
  --foreground: #404040;
  --accent: #c64b4b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #bac0a4;
    --foreground: #404040;
    --accent: #c64b4b;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-azeret-mono);
}
